.album {
  width: 550px;
  height: 550px;
  background: red;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  margin: 2em 0;

  &__title {
    margin: 0;
  }

  &__subtitle {
    margin: 0;
  }

  &__cover {
    width: 350px;
    height: auto;
    margin: 0 auto;
  }
}