.control-center {
  position: absolute;
  width: 500px;
  height: 150px;
  background-color: white;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10vh;
  border-radius: 5px;
  border: 2px solid lightgrey;
  box-shadow: 7px 7px lightgrey;
}

.control-center--hidden {
  bottom: -154px;
}

.control-dismiss-tab {
  position: absolute;
  width: 110px;
  height: 25px;
  line-height: 25px;
  left: 50%;
  transform: translateX(-50%);
  top: -29px;
  background-color: white;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border: 2px solid lightgrey;
  text-align: center;
}