@import "../pages/Home/styles/home.scss";

html * {
  font-family: Arial, Helvetica, sans-serif !important;
}

body {
  margin: 0;
  overflow: hidden;
  background-image: url('https://res.cloudinary.com/sagemontreal-com/image/upload/v1612729998/stars4_y0goq8.jpg');
  background-size: cover;
  color: #6D4D83;
}

p {
  color: black;
}

*:focus {
  outline: none;
}
