.close-button {
  float: right;
  border: none;
  background: none;
  font-size: 30px;
  cursor: pointer;
}

.close-button:hover {
  opacity: 0.4;
}
.MuiDialog-paper {
  height: 70vh;
  background-image: url("https://res.cloudinary.com/sagemontreal-com/image/upload/v1612729998/stars4_y0goq8.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
}

.MuiDialog-root .MuiDialog-paperFullWidth {
  padding: 60px 20px 40px;
  vertical-align: center;
  border: 2px solid white;
}

.score-results-title {
  object-fit: contain;
  width: 80%;
  margin: auto;
  display: block;
}

.leaderboard-info {
  color: white;
  font-size: 20px;
  margin-right: 10%;
  margin-left: 10%;

  text-align: center;
  &__ranking {
    color: white;
    text-align: center;
    margin-bottom: 40px;
  }
}

.name-field {
  background-color: grey;
  border: 2px;
  border-color: white;
  border-style: solid;
  border-radius: 3px;
}

.contact-form {
  width: 90%;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  // max-width: 900px;

  &__label {
    width: 100px;
    margin: 0;
    color: white;
    width: 70px;
  }

  &__input {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    // padding: 5px 8px;
  }

  &__button {
    height: 35px;
    width: 100px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    background: #6d4d83;
    // font-weight: 500;
    color: white;
    margin-left: 10px;

    &:disabled {
      background-position: right bottom;
      color: black;
      cursor: inherit;
      opacity: 0.7;
    }

    &:active {
      box-shadow: 0 2px #565656;
      transform: translateY(4px);
    }
  }
}

.buttons {
  display: flex;
  justify-content: space-around;

  .return-home-btn {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }
}

@media screen and (min-width: 600px) {
  .home-btn,
  .buttons-label {
    font-size: 30px;
  }

  .final-score {
    text-align: center;
    font-size: 100px;
    color: white;
  }
}

@media screen and (max-width: 600px) {
  .home-btn,
  .buttons-label {
    font-size: 5vw;
  }

  .final-score {
    text-align: center;
    font-size: 15vw;
    color: white;
  }

  .MuiDialog-root .MuiDialog-paperFullWidth {
    padding: 20px 20px 30px;
  }
}
