.sing {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding-top: 2em;
  height: 100vh;
  width: 100vw;

  &__title {
    margin-bottom: 0;
    font-size: 50px;
    -webkit-text-stroke: 1.5px blue;
  }
}

.sing-video {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -99;
}

@media only screen and (max-width: 600px) {
  .sing {
    &__title {
      font-size: 2.3rem;
    }
  }

  .sing-video {
    overflow-x: hidden;
    position: fixed;
    margin: 0;
  }
}