.sing {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding-top: 2em;

  &__title {
    margin: 0.5em 0
  }
}

.sing-video {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -99;
}

@media only screen and (max-width: 600px) {
  .sing {
    &__title {
      font-size: 1.7rem;
    }
  }
}