%control-center-def {
  position: fixed;
  width: 500px;
  height: 100px;
  background-color: white;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  border: 2px solid lightgrey;
  box-shadow: 7px 7px lightgrey;
  transition: all 1.5s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 100;
}

.control-center {
  &__open {
    @extend %control-center-def;
    bottom: 10vh;
  }

  &__hidden {
    @extend %control-center-def;
    bottom: -104px;
  }
}

.control-dismiss-tab {
  position: absolute;
  width: 110px;
  height: 25px;
  line-height: 25px;
  left: 50%;
  transform: translateX(-50%);
  top: -29px;
  background-color: white;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border: 2px solid lightgrey;
  text-align: center;
  cursor: pointer;
}

.control-icons-container {
  display: flex;
  justify-content: space-evenly;
  vertical-align: baseline;
  padding-bottom: 25px;

  // Standard
  & .play-control {
    font-size: 35px;
    height: 55px;
    width: 55px;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;

    & i {
      display: flex;
      justify-content: space-evenly;
      vertical-align: baseline;
    }

    & .red {
      color: red;
      transition: all 0.2s ease-in-out;
      margin: 0;
    }
  }

  & .record-border {
    border: 3px solid black;
    border-radius: 50%;
  }

  // Hover Effects
  & .play-control:hover {
    & i {
      display: flex;
      justify-content: space-evenly;
      vertical-align: baseline;
    }

    & .red {
      transform: scale(0.6);
    }
  }
}

.voice-over-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  & input {
    display: none !important;
  }
  & .react-switch-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 60px;
    height: 35px;
    background: grey;
    border-radius: 100px;
    position: relative;
    transition: background-color 0.2s;
  }

  & .react-switch-label .react-switch-button {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 30px;
    height: 30px;
    border-radius: 45px;
    transition: 0.2s;
    background: #fff;
    box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
  }

  & input:checked + .react-switch-label .react-switch-button {
    left: calc(100% - 2px);
    transform: translateX(-100%);
  }

  & .react-switch-label:active .react-switch-button {
    width: 60px;
  }
}

.prev-track-btn-ctr {
  margin-left: 25px;
}

.next-track-btn-ctr {
  margin-right: 25px;
}

.carousel-control-icons-labels {
  color: black;
  margin-top: 0px; 
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.control-icons-label {
  color: black;
  margin-top: 20px; 
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.record-label {
  color: black;
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

@media screen and (max-width: 600px) {

  %control-center-def {
    width: 100vw;
    height: 75px;
    bottom: 0px;
  }

  .control-center {  
    &__hidden {
      bottom: -80px;
    }
  }

  .control-icons-container {
    
    // Standard
    & .play-control {
      font-size: 25px;
      height: 45px;
      width: 45px;
    }
  }

  .voice-over-btn {
  
    & .react-switch-label {
      width: 50px;
      height: 25px;
    }
  
    & .react-switch-label .react-switch-button {
      width: 20px;
      height: 20px;
    }
  
    & .react-switch-label:active .react-switch-button {
      width: 40px;
    }
  }

  .control-icons-label {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 12px;
  }

  .record-label {
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 12px;
  }
}