.preview {
  display: flex;
  // flex-direction: column;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;

  flex-wrap: wrap;
  margin: 0 auto;
  min-width: 800px;
  max-width: 1900px;
  text-align: center;

  &__background {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    animation: fadein 3s;
  }
}

.song-title {
  line-height: 1.2;
}
.album-mv-container {
  // position: fixed;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
}

.mv {
}

.left-panel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
  margin: 0 auto;
  width: 15vw;
  &__album-cover {
    width: 13vw;
    height: 13vw;
    border-radius: 15px;
    margin: 0 auto;
  }
  &__lyrics {
    margin: 0 auto;
    margin-top: 2em;
    &__lyrics-title {
      margin-bottom: 2px;
    }
    &__lyrics-body {
      overflow: scroll;
      max-height: 20vw;
    }
  }
}

.right-panel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 15vw;
  margin: 0 auto;
  &__instructions {
    border: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    min-width: 12vw;
    &__content {
      margin: 0 auto;
      max-width: 70%;
      padding-bottom: 1em;
    }
  }
  &__leaderboard {
    min-width: 12vw;
    margin-top: 2em;
    border: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
  }
}

@media (max-width: 450px) {
  .song-title {
    font-size: 15px;
    max-width: 300px;
  }
  .preview {
    flex-direction: column;
  }
  .album-mv-container {
    flex-direction: column;
    flex: 1;
  }
  .left-panel {
    flex-direction: row;
    &__lyrics {
      margin: 0 auto;
      // width: 200px;
    }
  }
  .right-panel {
    flex-direction: column;
    width: 90vw;

    // height: 10vw;
    &__instructions {
      height: 20vh;
      overflow-y: scroll;
    }
    &__leaderboard {
      height: 20vh;
      overflow-y: scroll;
    }
  }
  .mv {
    order: -1;
    // height: 300px;
  }
}
